<div class="w-14 h-12 vanta-logo">
  <img src="../../../../vantalogo.png" class="w-full h-full fill-current" alt="">
</div>
<div class="page-wrapper">
  <div id="container" [class.flipped]="isFlipped" (mousemove)="handleParallax($event)">
    <div class="bg-layer bg-a"></div>
    <div class="bg-layer bg-b"></div>
    <div class="glow"></div>
    <div class="content">
      <div class="side left" [class.active-left]="!isFlipped" [class.active-right]="isFlipped">
        <h1 class="title text-white" [class.visible]="textState === 'final'">
          {{ isFlipped ? 'Welcome Back!' : 'Begin Your Adventure!' }}
        </h1>

        <p class="switch-text fade-delayed font-extralight text-white">
          Have an account?
          <span class="link font-bold cursor-pointer" (click)="toggleFlip()">
            {{ isFlipped ? 'Sign Up' : 'Login' }}
          </span>
        </p>
      </div>

      <div class="side right glass" [class.active-left]="isFlipped" [class.active-right]="!isFlipped">
        <app-login-form *ngIf="isFlipped" class="fade-in"></app-login-form>
        <app-signup-form *ngIf="!isFlipped" class="fade-in"></app-signup-form>
      </div>

    </div>
  </div>
</div>